version: '3.8'

services:
  backend:
    build: ./backend
    container_name: magic-market-backend
    restart: always
    ports:
      - "8111:8111"
    environment:
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_PORT=${MYSQL_PORT}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: magic-market-frontend
    restart: always
    ports:
      - "82:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
